{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}
{% block content %}
<div class="col-lg-8 mx-auto p-3 py-md-5">
    
    {% include 'includes/login_header.html' %}

    <main class="row d-flex justify-content-center">
        <div class="col-md-8 rounded-2 shadow p-4">
            <h3 class="mb-3">Password reset sent</h3>
            <p class="fw-light mb-4">We’ve emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly.</p>
            <p class="fw-light mb-4">If you don’t receive an email, please make sure you’ve entered the address you registered with, and check your spam folder.</p>
        </div>
    </main>

    {% include 'includes/login_footer.html' %}
</div>




{% endblock content %}




