{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}
{% block content %}
<div class="col-lg-8 mx-auto p-3 py-md-5">
    
    {% include 'includes/login_header.html' %}

    <main class="row d-flex justify-content-center">
        <div class="col-md-8 rounded-2 shadow p-4">
            <h3 class="mb-3">Password reset complete</h3>
            <p class="fw-light mb-4">Your password has been set. You may go ahead and log in now.</p>
            <a class="text-decoration-none fw-semibold" href="{% url 'login' %}">Login</a>
        </div>
    </main>

    {% include 'includes/login_footer.html' %}
</div>




{% endblock content %}