{% load widget_tweaks %}

{% with WIDGET_ERROR_CLASS='is-invalid' %}


    <form hx-post="{{ request.path }}" hx-headers='{"X-CSRFToken":"{{ csrf_token }}"}' class="modal-content" novalidate>
        <div class="modal-header pb-2 border-bottom-0">
            <h3 class="fw-bold mt-0">Personal Information</h3>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <hr class="my-1">
        <div class="modal-body">
            <div class="row mb-3">
                <label for="{{ form.last_name.id_for_label }}" class="col-sm-2 col-form-label">Last Name *</label>
                <div class="col-sm-10">
                    {% render_field form.last_name type="text" class="form-control text-uppercase" %}
                    <div class="invalid-feedback">{{ form.last_name.errors|first }}</div>
                </div>
            </div>
            <div class="row mb-3">
                <label for="{{ form.first_name.id_for_label }}" class="col-sm-2 col-form-label">First Name *</label>
                <div class="col-sm-10">
                    {% render_field form.first_name type="text" class="form-control" %}
                    <div class="invalid-feedback">{{ form.first_name.errors|first }}</div>
                </div>
            </div>
            <div class="row mb-3">
                <label for="{{ form.middle_name.id_for_label }}" class="col-sm-2 col-form-label">Middle Name</label>
                <div class="col-sm-10">
                    {% render_field form.middle_name type="text" class="form-control" %}
                    <div class="invalid-feedback">{{ form.middle_name.errors|first }}</div>
                </div>
                
            </div>  
            <fieldset class="row mb-3">
                <label for="{{ form.suffix.id_for_label }}" class="col-sm-2 col-form-label">Suffix</label>
                <div class="col-sm-4">
                    {% render_field form.suffix type="text" class="form-select" %}
                    <div class="invalid-feedback">{{ form.suffix.errors|first }}</div>
                </div>
                <legend class="col-form-label col-sm-2 pt-0">Gender</legend>
                <div class="col-sm-4">
                    <div class="form-check">
                        {% render_field form.gender %}
                        <div class="invalid-feedback">This field is required</div>
                    </div>
                   
                </div>
            </fieldset>
            <div class="row mb-3">
                <label for="{{ form.civil_status.id_for_label }}" class="col-sm-2 col-form-label">Civil Status</label>
                <div class="col-sm-4">
                    <input type="text" class="form-select" id="">
                </div>
                <label for="{{ form.date_of_birth.id_for_label }}" class="col-sm-2 col-form-label">Date of Birth</label>
                <div class="col-sm-4">
                    <input type="date" class="form-control" id="">
                </div>
            </div>
            <div class="row mb-3">
                <label for="{{ form.place_of_birth.id_for_label }}" class="col-sm-2 col-form-label">Place of Birth</label>
                <div class="col-sm-4">
                    <input type="text" class="form-control" id="">
                </div>
                <label for="{{ form.last_name.cellphone_no }}" class="col-sm-2 col-form-label">Cellphone No.</label>
                <div class="col-sm-4">
                    <input type="text" class="form-control" id="">
                </div>
            </div>
            <hr class="my-4">
            <div class="row mb-3">
                <label for="{{ form.height.id_for_label }}" class="col-sm-2 col-form-label">Height (m)</label>
                <div class="col-sm-4">
                    <input type="text" class="form-control" id="">
                </div>
                <label for="{{ form.weight.id_for_label }}" class="col-sm-2 col-form-label">Weight</label>
                <div class="col-sm-4">
                    <input type="text" class="form-control" id="">
                </div>
            </div>
            <div class="row mb-3">
                <label for="{{ form.blood_type.id_for_label }}" class="col-sm-2 col-form-label">Blood Type</label>
                <div class="col-sm-4">
                    <input type="text" class="form-control" id="">
                </div>
                <label for="{{ form.tin.id_for_label }}" class="col-sm-2 col-form-label">TIN</label>
                <div class="col-sm-4">
                    <input type="text" class="form-control" id="">
                </div>
            </div>
            <div class="row mb-3">
                <label for="{{ form.pag_ibig.id_for_label }}" class="col-sm-2 col-form-label">Pag-ibig No.</label>
                <div class="col-sm-4">
                    <input type="text" class="form-control" id="">
                </div>
                <label for="{{ form.philhealth.id_for_label }}" class="col-sm-2 col-form-label">Philhealth No.</label>
                <div class="col-sm-4">
                    <input type="text" class="form-control" id="">
                </div>
            </div>
            <div class="row mb-3">
                <label for="{{ form.sss.id_for_label }}" class="col-sm-2 col-form-label">SSS No.</label>
                <div class="col-sm-4">
                    <input type="text" class="form-control" id="">
                </div>
                <label for="{{ form.gsis.id_for_label }}" class="col-sm-2 col-form-label">GSIS No.</label>
                <div class="col-sm-4">
                    {% render_field form.gsis type="text" class="form-control" %}
                    <div class="invalid-feedback">{{ form.gsis.errors|first }}</div>
                </div>
            </div>
            
        </div>
        <div class="modal-footer">
            <button class="w-100 mb-2 btn btn-md btn-primary fw-bold" type="submit">Save</button>
        </div>
    </form>
{% endwith %}