{% extends 'base.html' %}
{% block content %}

{% include 'includes/main_header.html' %}
<div class="container-fluid mb-5">
    <div class="row">
    {% include 'bjmpadmin/includes/bjmpadmin_nav.html' %}
    </div>
    
    

    <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4 mt-4">
        <h1>{{table_obj.last_name}}</h1>
        <div class="row">
            <div class="col-sm-3 ">
                <div class="card text-bg-success shadow rounded">
                    <div class="card-body text-center">
                        <h1 class="card-title fw-bold">540</h1>
                        <p class="card-text">Total Number of Applicants</p>
                        
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="card text-bg-primary">
                    <div class="card-body text-center shadow rounded">
                        <h1 class="card-title fw-bold">340</h1>
                        <p class="card-text">Male Applicants</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="card text-bg-warning">
                    <div class="card-body text-center shadow rounded">
                        <h1 class="card-title fw-bold">200</h1>
                        <p class="card-text">Female Applicants</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="card text-bg-secondary">
                    <div class="card-body text-center shadow rounded">
                        <h1 class="card-title fw-bold">300</h1>
                        <p class="card-text">Criminology Graduate</p>
                    </div>
                </div>
            </div>
        </div>

        {% comment %} <div class="row mt-5">
            <div class="input-group">
                <input type="text" class="form-control" aria-label="Recipient's username" aria-describedby="button-addon2">
                <button class="btn btn-outline-secondary" type="button" id="button-addon2">Search</button>
            </div>
        </div> {% endcomment %}
        <hr class="mt-5">
        <div class="row mt-5">
            <table id="example" class="table table-striped" style="width:100%">
                <thead>
                    <tr>
                        <th>Email</th>
                        <th>Last Name</th>
                        <th>First Name</th>
                        <th>Middle Name</th>
                        <th>Suffix</th>
                        <th>Gender</th>
                        <th>Civil Status</th>
                        <th>Date of Birth</th>
                        <th>Cellphone #</th>
                    </tr>
                </thead>
                <tbody>
                    {% for info in infos %}   
                        <tr class="fw-normal">
                            <td>{{info.email}}</td>
                            <td>{{info.personalinfo.last_name}}</td>
                            <td>{{info.personalinfo.first_name}}</td>
                            <td>{{info.personalinfo.middle_name}}</td>
                            <td>{{info.personalinfo.suffix}}</td>
                            <td>{{info.personalinfo.gender}}</td>
                            <td>{{info.personalinfo.civil_status}}</td>
                            <td>{{info.personalinfo.date_of_birth}}</td>
                            <td>{{info.personalinfo.cellphone_no}}</td>
                        </tr>
                    {% endfor %} 
                </tbody>
            </table>
        </div>
    </main>
</div>



{% endblock content %}

{% block js %}
<script>
    $(document).ready(function () {
        $('#example').DataTable();
    });
</script>

{% endblock js %}