{% extends 'base.html' %}
{% block content %}

{% include 'includes/main_header.html' %}
<div class="container-fluid mb-5">
    {% comment %} <div class="row">
    {% include 'bjmpadmin/includes/bjmpadmin_nav.html' %}
    </div> {% endcomment %}

    <main class="ms-sm-auto px-md-4 mt-4">
        <form class="row" method="GET" action="{% url 'bjmpadmin-search' %}">
            <div class="col-auto">
                <select class="form-select col-auto" aria-label="Default select example" name="batch">
                    <option value="" disabled selected>Select a batch</option>
                    {% for batch in batches %}
                        <option value="{{batch.batch}}">{{batch.batch}}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="col-auto">
                <button type="submit" class="btn btn-danger mb-3">Filter</button>
            </div>
        </form>
        <h1 class="fw-bold">{{selected_batch}}</h1>
        <div class="row">
            <div class="col-sm-2">
                <div class="card text-bg-secondary shadow rounded">
                    <div class="card-body text-center">
                        <h1 class="card-title fw-bold">{{total_applicant}}</h1>
                        <p class="card-text">Total</p>
                        
                    </div>
                </div>
            </div>
            <div class="col-sm-2">
                <div class="card text-bg-secondary">
                    <div class="card-body text-center shadow rounded">
                        <h1 class="card-title fw-bold">{{male_applicant}}</h1>
                        <p class="card-text">Male</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-2">
                <div class="card text-bg-secondary">
                    <div class="card-body text-center shadow rounded">
                        <h1 class="card-title fw-bold">{{female_applicant}}</h1>
                        <p class="card-text">Female</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-2">
                <div class="card text-bg-secondary">
                    <div class="card-body text-center shadow rounded">
                        <h1 class="card-title fw-bold">{{crim_course}}</h1>
                        <p class="card-text">Criminology Graduate</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-2">
                <div class="card text-bg-secondary">
                    <div class="card-body text-center shadow rounded">
                        <h1 class="card-title fw-bold">{{other_course}}</h1>
                        <p class="card-text">Other Course</p>
                    </div>
                </div>
            </div>
        </div>
        <hr class="mt-5">
        <div class="row mt-5">
            <div class="table-responsive">
                <table id="example" class="table table-striped table-bordered table-sm" cellspacing="0" style="width:100%">
                    <thead>
                        <tr>
                            
                            <th><small>Last Name</small></th>
                            <th><small>First Name</small></th>
                            <th><small>Middle Name</small></th>
                            <th><small>Suffix</small></th>
                            <th><small>Gender</small></th>
                            <th><small>Civil Status</small></th>
                            <th><small>Date of Birth</small></th>
                            <th><small>Contact</small></th>
                            <th><small>Course</small></th>
                            <th><small>Eligibility</small></th>
                            <th><small>Email</small></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for info in infos %}   
                            <tr >
                                <td><small>{{info.personalinfo.last_name}}</small></td>
                                <td><small>{{info.personalinfo.first_name}}</small></td>
                                <td><small>{{info.personalinfo.middle_name}}</small></td>
                                <td><small>{{info.personalinfo.suffix}}</small></td>
                                <td><small>{{info.personalinfo.gender}}</small></td>
                                <td><small>{{info.personalinfo.civil_status}}</small></td>
                                <td><small>{{info.personalinfo.date_of_birth}}</small></td>
                                <td><small>{{info.personalinfo.cellphone_no}}</small></td>
                                
                                <td>
                                    {% for course in courses %}
                                        {% if course.user.id == info.id %}
                                        <small>{{course.course}}</small>
                                        {% endif %}
                                    {% endfor %}
                                </td>
                                <td>
                                    {% for el in eligibility %}
                                        {% if el.user.id == info.id %}

                                        <small>{{el.eligibility}}</small>
                                    
                                        {% endif %}
                                    {% endfor %}
                                </td>
                                <td><small><a href="{% url 'bjmpadmin-profile' info.id %}" target="_blank">{{info.email}}</small></a></td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </main>
</div>



{% endblock content %}

{% block js %}
<script>
    $(document).ready(function () {
        $('#example').DataTable({
          "scrollX": true
        });
        $('.dataTables_length').addClass('bs-select');
      });
</script>

{% endblock js %}