<div class="col-12">
    <table class="table">
        <thead>
            <tr >
              <th scope="col" class="border border-0" width="30%"></th>
              <th scope="col" class="border border-0"></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row" class="fw-normal">Living Status:</th>
                <td class="fw-bold">{{obj_father.living_status}}</td>
            </tr>
            <tr>
                <th scope="row" class="fw-normal">Last Name:</th>
                <td class="fw-bold">{{obj_father.last_name}}</td>
            </tr>
            <tr>
                <th scope="row" class="fw-normal">First Name:</th>
                <td class="fw-bold">{{obj_father.first_name}}</td>
            </tr>
            <tr>
                <th scope="row" class="fw-normal">Middle Name:</th>
                <td class="fw-bold">{{obj_father.middle_name}}</td>
            </tr>
            <tr>
                <th scope="row" class="fw-normal">Suffix:</th>
                <td class="fw-bold">{{obj_father.suffix}}</td>
            </tr>
           
        </tbody>
    </table>
</div>
