<div class="col-12">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Name of School</th>
                <th scope="col">Degree</th>
                <th scope="col">From</th>
                <th scope="col">To</th>
                <th scope="col">Units Earned</th>
                <th scope="col">Year Graduated</th>
                <th scope="col">Academic Honors Received</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for graduate in obj_graduate %}
                <tr>
                    <td>{{graduate.school_name}}</td>
                    <td>{{graduate.degree}}</td>
                    <td>{{graduate.year_from}}</td>
                    <td>{{graduate.year_to}}</td>
                    <td>{{graduate.units_earned}}</td>
                    <td>{{graduate.highest_level}}</td>
                    <td>{{graduate.year_graduated}}</td>
                    <td>{{graduate.academic_honors}}</td>
                    <td>
                        <button type="button" class="btn btn-primary btn-sm" hx-get="{% url 'graduate-edit' graduate.id %}" hx-target="#graduate-modal-dialog" data-bs-toggle="modal" data-bs-target="#graduate-modal">Edit</button>
                        <button type="button" class="btn btn-danger btn-sm" hx-get="{% url 'graduate-delete' graduate.id %}" hx-target="#delete-modal-dialog" data-bs-toggle="modal" data-bs-target="#delete-modal">Delete</button>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>