<div class="col-4">
    <table class="table">
        <thead>
            <tr >
              <th scope="col" class="border border-0" width="30%"></th>
              <th scope="col" class="border border-0"></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row" class="fw-normal">Region:</th>
                <td class="fw-bold">{{obj_permanent_address.region}}</td>
            </tr>
            <tr>
                <th scope="row" class="fw-normal">Zip Code:</th>
                <td class="fw-bold">{{obj_permanent_address.zip_code}}</td>
            </tr>
            <tr>
                <th scope="row" class="fw-normal">Province:</th>
                <td class="fw-bold">{{obj_permanent_address.province}}</td>
            </tr>
        </tbody>
    </table>
</div>
<div class="col-8">
    <table class="table">
        <thead>
            <tr >
              <th scope="col" class="border border-0" width="30%"></th>
              <th scope="col" class="border border-0"></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row" class="fw-normal">City/Municipality:</th>
                <td class="fw-bold">{{obj_permanent_address.city_municipality}}</td>
            </tr>
            <tr>
                <th scope="row" class="fw-normal">Barangay:</th>
                <td class="fw-bold">{{obj_permanent_address.barangay}}</td>
            </tr>
            <tr>
                <th scope="row" class="fw-normal">House/Lot/Unit No./St./Subd.:</th>
                <td class="fw-bold">{{obj_permanent_address.house}}</td>
            </tr>
        </tbody>
    </table>
</div>