<div class="col-6">
    <table class="table">
        <thead>
            <tr >
              <th scope="col" class="border border-0" width="30%"></th>
              <th scope="col" class="border border-0"></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row" class="fw-normal">Last Name:</th>
                <td class="fw-bold">{{obj_pinfo.last_name}}</td>
            </tr>
            <tr>
                <th scope="row" class="fw-normal">First Name:</th>
                <td class="fw-bold">{{obj_pinfo.first_name}}</td>
            </tr>
            <tr>
                <th scope="row" class="fw-normal">Middle Name:</th>
                <td class="fw-bold">{{obj_pinfo.middle_name}}</td>
            </tr>
            <tr>
                <th scope="row" class="fw-normal">Suffix:</th>
                <td class="fw-bold">{{obj_pinfo.suffix}}</td>
            </tr>
            <tr>
                <th scope="row" class="fw-normal">Gender:</th>
                <td class="fw-bold">{{obj_pinfo.gender}}</td>
            </tr>
            <tr>
                <th scope="row" class="fw-normal">Civil Status:</th>
                <td class="fw-bold">{{obj_pinfo.civil_status}}</td>
            </tr>
            <tr>
                <th scope="row" class="fw-normal">Date of Birth:</th>
                <td class="fw-bold">{{obj_pinfo.date_of_birth}}</td>
            </tr>
            <tr>
                <th scope="row" class="fw-normal">Place of Birth:</th>
                <td class="fw-bold">{{obj_pinfo.place_of_birth}}</td>
            </tr>
            <tr>
                <th scope="row" class="fw-normal">Cellphone Number:</th>
                <td class="fw-bold">{{obj_pinfo.cellphone_no}}</td>
            </tr>
        </tbody>
    </table>
</div>
<div class="col-6">
    <table class="table">
        <thead>
            <tr >
              <th scope="col" class="border border-0" width="30%"></th>
              <th scope="col" class="border border-0"></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row" class="fw-normal">Height (m):</th>
                <td class="fw-bold">{{obj_pinfo.height}}</td>
            </tr>
            <tr>
                <th scope="row" class="fw-normal">Weight (kg):</th>
                <td class="fw-bold">{{obj_pinfo.weight}}</td>
            </tr>
            <tr>
                <th scope="row" class="fw-normal">Blood Type:</th>
                <td class="fw-bold">{{obj_pinfo.blood_type}}</td>
            </tr>
            <tr>
                <th scope="row" class="fw-normal">TIN:</th>
                <td class="fw-bold">{{obj_pinfo.tin}}</td>
            </tr>
            <tr>
                <th scope="row" class="fw-normal">Pag-ibig No.:</th>
                <td class="fw-bold">{{obj_pinfo.pag_ibig}}</td>
            </tr>
            <tr>
                <th scope="row" class="fw-normal">Philhealth No.:</th>
                <td class="fw-bold">{{obj_pinfo.philhealth}}</td>
            </tr>
            <tr>
                <th scope="row" class="fw-normal">SSS No.:</th>
                <td class="fw-bold">{{obj_pinfo.sss}}</td>
            </tr>
            <tr>
                <th scope="row" class="fw-normal">GSIS No.:</th>
                <td class="fw-bold">{{obj_pinfo.gsis}}</td>
            </tr>
        </tbody>
    </table>
</div>