<div class="col-12">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Living Status</th>
                <th scope="col">Last Name</th>
                <th scope="col">First Name</th>
                <th scope="col">Middle Name</th>
                <th scope="col">Suffix</th>
                <th scope="col">Gender</th>
                <th scope="col">Civil Status</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for sibling in obj_sibling %}
                <tr>
                    <td>{{sibling.living_status}}</td>
                    <td>{{sibling.last_name}}</td>
                    <td>{{sibling.first_name}}</td>
                    <td>{{sibling.middle_name}}</td>
                    <td>{{sibling.suffix}}</td>
                    <td>{{sibling.gender}}</td>
                    <td>{{sibling.civil_status}}</td>
                    <td>
                        <button type="button" class="btn btn-primary btn-sm" hx-get="{% url 'sibling-edit' sibling.id %}" hx-target="#sibling-modal-dialog" data-bs-toggle="modal" data-bs-target="#sibling-modal">Edit</button>
                        <button type="button" class="btn btn-danger btn-sm" hx-get="{% url 'sibling-delete' sibling.id %}" hx-target="#delete-modal-dialog" data-bs-toggle="modal" data-bs-target="#delete-modal">Delete</button>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>