<div class="col-6">
    <table class="table">
        <thead>
            <tr >
              <th scope="col" class="border border-0" width="30%"></th>
              <th scope="col" class="border border-0"></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row" class="fw-normal">Living Status:</th>
                <td class="fw-bold">{{obj_spouse.living_status}}</td>
            </tr>
            <tr>
                <th scope="row" class="fw-normal">Last Name (Maiden):</th>
                <td class="fw-bold">{{obj_spouse.last_name}}</td>
            </tr>
            <tr>
                <th scope="row" class="fw-normal">First Name:</th>
                <td class="fw-bold">{{obj_spouse.first_name}}</td>
            </tr>
            <tr>
                <th scope="row" class="fw-normal">Middle Name:</th>
                <td class="fw-bold">{{obj_spouse.middle_name}}</td>
            </tr>
            
           
        </tbody>
    </table>
</div>
<div class="col-6">
    <table class="table">
        <thead>
            <tr >
              <th scope="col" class="border border-0" width="30%"></th>
              <th scope="col" class="border border-0"></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row" class="fw-normal">Suffix:</th>
                <td class="fw-bold">{{obj_spouse.suffix}}</td>
            </tr>
            <tr>
                <th scope="row" class="fw-normal">Gender:</th>
                <td class="fw-bold">{{obj_spouse.gender}}</td>
            </tr>
        </tbody>
    </table>
</div>